{% extends "base.html" %}

{% block title %}Training - AutoML Studio{% endblock %}

{% block content %}
<p class="eyebrow">AutoML Studio</p>
<h1 class="page-title">Training summary</h1>



<div class="section active">
  <p><strong>Task type:</strong> {{ config.Task_Type }}</p>
  <p><strong>Target column:</strong> {{ config.Target_Column }}</p>
  <p><strong>Features:</strong> {{ config.Features | join(", ") }}</p>
  <p><strong>Model:</strong> {{ config.Model_Name }}</p>
  <p><strong>Test size:</strong> {{ config.Test_Size }}</p>
  <p><strong>X Train size:</strong> {{ config.X_Train_Shape }}</p>
  <p><strong>X Test size:</strong> {{ config.X_Test_Shape }}</p>

  {% if config.hyperparameters %}
    <h3>Hyperparameters</h3>
    <ul>
      {% for key, value in config.hyperparameters.items() %}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <hr>

  <h3>Model Performance</h3>

  {% if config.Task_Type == "regression" %}
    <ul>
      <li><strong>R² Score:</strong> {{ "%.4f"|format(metrics.R2) }}</li>
      <li><strong>Mean Absolute Error (MAE):</strong> {{ "%.4f"|format(metrics.MAE) }}</li>
      <li><strong>Mean Squared Error (MSE):</strong> {{ "%.4f"|format(metrics.MSE) }}</li>
      <li><strong>Root Mean Squared Error (RMSE):</strong> {{ "%.4f"|format(metrics.RMSE) }}</li>
    </ul>

  {% elif config.Task_Type == "classification" %}
    <ul>
      <li><strong>Accuracy:</strong> {{ "%.2f"|format(metrics.Accuracy * 100) }}%</li>
      <li><strong>Precision:</strong> {{ "%.2f"|format(metrics.Precision * 100) }}%</li>
      <li><strong>Recall:</strong> {{ "%.2f"|format(metrics.Recall * 100) }}%</li>
      <li><strong>F1 Score:</strong> {{ "%.2f"|format(metrics.F1 * 100) }}%</li>
      <li><strong>Confusion Matrix:</strong> {{ metrics.Confusion_Matrix }}%</li>
    </ul>
  {% endif %}
</div>

{% endblock %}
